<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <u><h1 align="center">Welcome to CxCollege</h1></u>
  <h3 align="center"><i>"Committed to teaching"</i></h3>
  
  <ion-searchbar animated></ion-searchbar> <!--Agregar color blanco-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <h3>Sign up</h3>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>Date Birth</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <ion-item>
      <ion-label>ID</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <ion-item>
      <ion-label>Celphone</ion-label>
      <ion-input></ion-input>
  </ion-item>
<ion-item>
      <ion-label>Telephone</ion-label>
      <ion-input></ion-input>
    </ion-item>
      <ion-input></ion-input>
      <br>
      

        <ion-item>
    <ion-label>Subject</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Literacy</ion-select-option>
      <ion-select-option value="m">Software</ion-select-option>
      <ion-select-option value="m1">Math</ion-select-option>
      <ion-select-option value="m2">Art</ion-select-option>
      <ion-select-option value="m3">Music</ion-select-option>
      <ion-select-option value="m4">PI</ion-select-option>
      <ion-select-option value="m5">Biology</ion-select-option>
      <ion-select-option value="m6">History</ion-select-option>
    </ion-select>
  </ion-item>
<br>
<br>


<ion-button>
  <ion-icon slot="start"  name="save"></ion-icon>
  Save
</ion-button>
<br>
<br>


<h3>News</h3>
<br>

<ion-card >
<img src="assets/Imagenes/card1.jpg">
<ion-card-content>
<ion-card-title>
  CxCollege closing doors in order to offering vocational courses like T-levels

</ion-card-title>
<p>
  Too many schools are closing their doors to colleges offering alternative vocational courses including the government's flagship qualification, a minister has warned ahead of its roll-out this year.
  Lord Agnew has written to all schools in England calling for them to urgently give access to organisations pushing alternatives to A-levels so that teenagers can make the right choices for them. 
  The intervention comes after colleges have raised concerns about their ability to promote T-levels to young people in schools where leaders do not want to lose potential A-level students.

</p>


</ion-card-content>



</ion-card>
<br>
<br>


<ion-card>
<img src="assets/Imagenes/card2.jpg">
<ion-card-content>
<ion-card-title>
  CxCollege closing doors in order to offering vocational courses like T-levels

</ion-card-title>
<p>
  Too many schools are closing their doors to colleges offering alternative vocational courses including the government's flagship qualification, a minister has warned ahead of its roll-out this year.
  Lord Agnew has written to all schools in England calling for them to urgently give access to organisations pushing alternatives to A-levels so that teenagers can make the right choices for them. 
  The intervention comes after colleges have raised concerns about their ability to promote T-levels to young people in schools where leaders do not want to lose potential A-level students.

</p>


</ion-card-content>



</ion-card>




      
    
</ion-content>
