<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


  

  <ion-card>
    
    <ion-card-content>
    <ion-card-title>
     Monday
    
    </ion-card-title>
    </ion-card-content>
    </ion-card>
    <ion-card>
         <ion-card-content>
      <ion-card-title>
       Tuesday
      
      </ion-card-title>
      </ion-card-content>
      </ion-card>


      <ion-card> 
      <ion-card-content>
        <ion-card-title>
        Wednday
        
        </ion-card-title>
        </ion-card-content>
        </ion-card>


        <ion-card> 
        <ion-card-content>
          <ion-card-title>
           Thursday
          
          </ion-card-title>
          </ion-card-content>
          </ion-card>
          <ion-card>
          <ion-card-content>
            <ion-card-title>
             Friday
            </ion-card-title>
            </ion-card-content>
            </ion-card>
            
            <ion-item-divider>
              <ion-label>
                Basic Item Divider
              </ion-label>
            </ion-item-divider>
      
    
  
  
 
</ion-content>
